body {

}

#controls {
    background-color: lightcoral;
}

#content {
    transform-origin: top left;
    transition: transform 0.2s ease;
    font-size: 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    overflow: hidden;   
}

.line {
    display: flex;
}

.blackSquare, .whiteSquare {
    width: 5px;
    height: 5px;
}

.blackSquare {
    background-color: black;
}

.whiteSquare {
    background-color: white;
}